* {
  padding: 0;
  margin: 0;
}
body {
  color: var(--color-white);
  background: url(../img/wallpaper2you_322883.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
}
.btn-primary {
  color: var(--color-white) !important;
  border: 1px solid var(--bg-primary) !important;
  background-color: var(--bg-primary) !important;
}
.btn-primary:hover {
  background-color: var(--bg-primary-hover) !important;
  color: var(--color-black) !important;
}
header {
  padding: 0 50px;
}
header img {
  width: 40px;
  height: 40px;
}
.navbar-collapse {
  justify-content: flex-end;
}
header nav .navbar-brand {
  color: var(--color-primary);
  font-weight: 900;
}
header nav ul li a.nav-link {
  color: var(--color-white);
}
header nav .navbar-brand:hover {
  color: var(--color-white);
}
header nav ul li a.nav-link:hover {
  color: var(--color-white);
  border-bottom: 1px solid var(--color-white);
}

#home,
#about,
#works,
#contact {
  width: 100%;
  height: 100vh;
  padding: 20px;
}
#home {
  margin-top: -57px;
  height: calc(100vh + 57px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#home .home-title {
  font-weight: 900;
}
#home .home-subtitle {
  font-weight: 100;
}
#home b {
  font-weight: 600;
}
#about {
  background-color: var(--bg-white);
  color: var(--color-black);
  display: flex;
  justify-content: center;
  align-items: center;
}
#about .about-img {
  background-color: var(--bg-primary);
  width: 100%;
  height: 100%;
  border-radius: 15px;
  padding: 15px;
  box-shadow: 0px 30px 8px -8px rgb(0, 0, 1, 0.3);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 500ms;
}
#about .about-img:hover {
  background-color: var(--bg-white);
  transform: scale(0.9);
  border-radius: 50%;
  opacity: 0.85;
}
#about .about-img img {
  max-height: 400px;
  transition: all 500ms;
}
#about .about-img:hover img {
  transform: scale(1.5);
}
#about h3 h6 {
  font-weight: 900;
  margin-bottom: 0;
}

#about p {
  color: var(--color-black);
  font-weight: 100;
}
#works {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--bg-light);
  height: 100% !important;
}
#works .row {
  row-gap: 15px;
}
#works h3 {
  text-align: center;
  margin-bottom: 50px;
}
#works .card {
  width: 250px;
  height: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  transition: all 500ms;
}
#works .card:hover {
  cursor: pointer;
  transform: scale(1.1);
}
#works .card img {
  max-width: 100%;
  max-height: 100%;
}
#works h3 {
  display: flex;
  justify-content: start;
  opacity: 0.7;
}

#contact {
  background-color: var(--bg-white);
  color: var(--color-black);
  padding-top: 50px;
  padding-bottom: 50px;
  height: 100% !important;
}
#contact h3 {
  text-align: center;
  margin-bottom: 50px;
  color: var(--color-white);
}
#contact .contact-group {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-weight: 500;
}
#contact .from-group .form-label,
#contact .contact-info {
  color: var(--color-white);
}
footer {
  background-color: var( --bg-primary);
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}
footer p {
  margin: 0;
}
